$theme-color1: #ffd700;
$theme-color2: #f9f9f9;
$theme-color3: var(--bg-color-light, #f5f5f5);
$theme-color4: #f2f2f2;
$theme-color5: var(--text-color-light, #333333);
$theme-color6: var(--bg-item-color-light, #ffffff);
$theme-color7: #ff0000;
$theme-color8: rgba(0, 0, 0, 0.5);
$theme-color9: #000000;
$theme-color10: #ecf5ff99;
$theme-color11: #a9ea7a;
$video-ratio: calc(16 / 9);
$fix-header-height: 60px;

body {
  margin: 0px;
  padding: 0px;
  background: $theme-color3;
  color: $theme-color5;
  font-size: 16px !important; //覆盖掉naive的n-global全局style样式
  font-family:
    Arial,
    Sans-serif,
    Microsoft YaHei,
    '微软雅黑',
    Lucida Grande,
    Verdana,
    serif !important;
  line-height: normal !important;
}

.hr-class {
  margin: 20px 0;
  height: 4px;
  border: 0;
  background-color: $theme-color4;
  background-image: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 4px,
    transparent 0,
    transparent 8px
  );
}
